MODELS/**
training/DATASETS/** 
training/help/** 
training/output/** 
My_output/SaveData/**
My_output/SaveData2/**
My_output/T113_2_75V2/**
My_output/Test3/**
My_output/Test0/**
My_output/test50_frames/**
My_output/**
Inputs/**
*.mp4
*.pth
*.png
*.jpg
*.zip
# Dont ignore this
!My_output/Test6
!My_output/Test6/*